<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New post</title>
</head>
<body>
    <form action="/savePost" method="post">
        <table width="500" align="center">
            <tr>
                <td>
                    <h1>Add your post</h1>
                </td>
            </tr>
            <tr>
                <td>
                    Input header
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="postheader" id="postheader" placeholder="Header" /></br></br>
                </td>
            </tr>
            <tr>
                <td>
                    Text: <textarea name="postbody" id="postbody" placeholder=""/></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Post</button>
                </td>
            </tr>
    </form>
</body>
</html>