<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post page</title>
</head>
<body>
        <table width="500" align="center">
            <tr>
                <td>
                    <input type="text" name="postheader" id="postheader" placeholder="{{post.header}}" readonly />
                </td>
            </tr>
            <tr>
                <td>
                    <textarea name="postbody" id="postbody" readonly />{{post.body}}</textarea>
                </td>
            </tr>
            <tr>
                <td>
                    Created: {{post.timestamp}}
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/">Main Page</a>
                    <br/>
                </td>
        </table>
</body>
</html>